<div class="letter-frame-loader">
    <div class="letter-frame-loader__frame-header">
        <div class="letter-frame-loader__frame-image skeleton__block">

        </div>
        <div class="letter-frame-loader__frame-header-text skeleton__block">
        </div>
    </div>
    <div class="letter-frame-loader__frame-content-text skeleton__block">
    </div>
</div>
