<div class="recipient-form" data-section="{{this.text}}">
    <div class="recipient-form__container">
        <span class="recipient-form__text">{{this.text}}</span>
        {{{ this.closeButton }}}
    </div>
</div>
