<div class="recipient-from">
    <div class="recipient-form__container">
        <span class="recipient-form__text">{{this.text}}</span>
        <button class="recipient-form__button"></button>
    </div>
</div>