.mail {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    position: relative;
    order: 4;
    flex: 1;
    border-radius: 6px;
    align-self: stretch;
}

.mail_size {
    min-width: 400px;
}

.mail_color {
    background-color: var(--secondary-background-color);
}

.mail__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 5px;
    border-radius: 6px;
    flex: none;
}

.mail__header_size {
    padding: 20px 20px 0 20px;
    height: 80px;
}

.mail__header-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    flex: 1;
    justify-content: stretch;
    gap: 5px;
}

.mail__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.mail__recipients {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.mail__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    border-radius: 6px;
}

.mail__read-state {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 8px;
    border-radius: 6px;
}

.mail__content {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex: 1;
    margin: 20px 20px 0;
    overflow: auto;
    padding: 20px 30px 20px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    gap: 10px;
}

.mail__content_color {
    background-color: var(--mail-text-background-color);
}

.mail__bottom-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 5px;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.mail__bottom-actions_size {
    flex-shrink: 0;
    margin: 0 20px 20px;
    flex-basis: 60px;
}

.mail__bottom-actions_color {
    background-color: var(--delimeters-color);
}

.no-chosen-mail {
    display: flex;
    fill: var(--menu-icons-default-color);
}