<div class="promo-box promo-box_size promo-box_indent promo-box_color">
    <div class="promo-box__box">
        <h1 class="promo-box__title promo-box__title_color promo-box_indent">{{this.title}}</h1>
        <ul class="promo-box__list" id="promo-box__list">
                {{{this.list}}}
        </ul>
    </div>
</div>
