<div class="remember">
<label>
    <input class="checkbox-input" type="checkbox" name="remember">
    <span class="font-normal-0">Запомнить</span>
</label>
<a class="font-normal-0 redirect-link" href="/remind"> Забыли пароль?</a>
</div>