.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    flex: available;
    position: relative;
    height: 40px;
    background: var(--navbar-color);
}

.navbar-frame-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    flex: available;
    align-self: stretch;
    flex-grow: 1;
}

.navbar-frame-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    gap: 32px;
    flex: available;
    align-self: stretch;
    flex-grow: 1;
}

.navbar-img-button {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    border: 1px solid var(--navbar-color);
    flex: none;
}

.navbar-text {
    display: flex;
    align-items: center;
    color: var(--navbar-text-color);
}

.navbar-emblem-button {
    cursor: pointer;
    display: flex;
    position: relative;
    height: 50px;
    background-color: var(--navbar-color);
    gap: 10px;
    flex: available;
}