<link rel="stylesheet" href="./src/components/Navbar/navbar.css" type="text/css">
<link rel="stylesheet" href="./src/components/Navbar/iconButton.css" type="text/css">
<header id="header" class="navbar">
    <div class="navbar-frame-left">
        <a href="">
            <div class="navbar-emblem-button">
                <img src="./img/emblem.svg" alt="">
                <label class="navbar-text">MailBox</label>
            </div>
        </a>
        <a href="">

        </a>
    </div>
    <div class="navbar-frame-right">
        <a class="navbar-img-button">
            <img src="{{profileAvatar}}" alt="">
        </a>
        <a class="icon-button" href="/logout">
            <svg class="icon-button-icon" fill="none" height=100% viewBox="0 0 24 24" width=100%
                 xmlns="http://www.w3.org/2000/svg">
                <path d="m17 16 4-4m0 0-4-4m4 4h-14m6 4v1c0 1.6569-1.3431 3-3 3h-4c-1.65685
                    0-3-1.3431-3-3v-10c0-1.65685 1.34315-3 3-3h4c1.6569 0 3 1.34315 3 3v1"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </svg>
        </a>

    </div>
</header>