.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    flex: 0;
    position: relative;
    flex-basis: 60px;
    background: var(--navbar-color);
}

.navbar__frame-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    flex: 1;
    align-self: stretch;
}

.navbar__frame-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    gap: 32px;
    flex: 1;
    align-self: stretch;
}

.navbar__img-button {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    border: 1px solid var(--navbar-color);
    flex: none;
}

.navbar__emblem-button {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--navbar-color);
    gap: 10px;
    flex: 0;
}
