<div class="account-area" id="account-area">
    <div class="account-area__content-area">
        <div class="account-area__navigation" id="account-area__navigation">

        </div>
        <div class="account-area__content" id="account-area__content">

        </div>
    </div>
</div>
