<div class="account-area" id="account-area">
    <div class="account-area-content-area">
        <div class="account-area-content__navigation" id="account-area-content__navigation">

        </div>
        <div class="account-area-content__content" id="account-area-content__content">

        </div>
    </div>
</div>
