.account-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  flex: 1;
  overflow-x: auto;
  padding: 10px;
  order: 1;
  justify-content: center;
}



.account-area-content-area {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 16px;
}

.account-area-content__navigation {
  width: 280px;
}

.account-area-content__content {
  width: 560px;
}
