:root {
    --primary-background-color: #f1f3f7;
    --secondary-background-color: #fff;
    --primary-elements-color: #7c7c7d;
    --primary-delimeters-color: #1062fa;
    --primary-active-color: #e7f0ff;
    --primary-text-color: #000;
    --secondary-text-color: #1062fa;
    --active-elements-color: #adadae;
    --background-color: var(--primary-background-color);
    --navbar-color: #1062fa;
    --menu-color: var(--secondary-background-color);
    --menu-icons-default-color: #000;
    --menu-icons-hover-color: #000;
    --menu-icons-active-color: #1062fa;
    --menu-text-default-color: #000;
    --menu-text-hover-color: #000;
    --menu-text-active-color: #1062fa;
    --menu-buttons-default-fill-color: var(--secondary-background-color);
    --menu-buttons-default-border-color: var(--secondary-background-color);
    --menu-buttons-hover-fill-color: var(--secondary-background-color);
    --menu-buttons-hover-border-color:#88BDFD;
    --menu-buttons-active-fill-color:#e7f0ff;
    --menu-buttons-active-border-color: #e7f0ff;
    --navbar-icons-default-color: var(--menu-icons-default-color);
    --navbar-icons-hover-color: #f1f3f7;
    --navbar-icons-active-color: #1062fa;
    --navbar-buttons-default-fill-color: #1062fa;
    --navbar-buttons-default-border-color: #1062fa;
    --navbar-buttons-hover-fill-color: #1062fa;
    --navbar-buttons-hover-border-color: #88BDFD;
    --navbar-buttons-active-fill-color: #e7f0ff;
    --navbar-buttons-active-border-color: #e7f0ff;
    --navbar-text-color: #f1f3f7;
    --letterlist-default-fill-color: #fff;
    --letterlist-default-border-color: #fff;
    --letterlist-hover-fill-color: #fff;
    --letterlist-hover-border-color: #88BDFD;
    --letterlist-active-fill-color: #e7f0ff;
    --letterlist-active-border-color: #e7f0ff;
    --letterlist-name-text-color: #000;
    --letterlist-header-text-color: #1062fa;
    --letterlist-content-text-color: #000;
    --delimeters-color: #88BDFD;
    --input-default-fill-color: var(--input-selected-color);
    --input-default-border-color: var(--secondary-background-color);
    --input-hover-fill-color: var(--secondary-background-color);
    --input-hover-border-color: var(--secondary-background-color);
    --input-active-fill-color: var(--secondary-background-color);
    --input-active-border-color: var(--secondary-background-color);
    --button-default-color: #BB86FC;
    --button-shadow-close-default-color: #8890C23F;
    --button-shadow-far-default-color: #252C6133;
    --button-hover-color: #7654FE;
    --button-shadow-close-hover-color: #8890C23F;
    --button-shadow-far-hover-color: #252C6133;
    --button-active-color: #5336C7;
    --button-shadow-close-active-color: #8890C23F;
    --button-shadow-far-active-color: #252C6133;
    --button-disabled-color: #C4BEDF;
    --button-shadow-close-disabled-color: #8890C23F;
    --button-shadow-far-disabled-color: #252C6133;
    --link-text-color: #bb86fc;
    --helpers-text-color: #9e9798;
    --text-main-color: #303030;
    --glass-color: #96B3EC7F;
    --error-input: #e17272;
    --warning-input: #FFFACD;
    --animation-color: #ffffff05;
    --custom-color-account-sidebar: #e9e9e9;
    --custom-color-account-sidebar-shadow: rgb(0 0 0 / 48%);
    --promo-box_background-color: conic-gradient(from 168.74deg at 129.9% 12.36%, #8370F8 -47.46deg, #1F7FF6 22.68deg, #C77FEA 120.47deg, #8370F8 312.54deg, #1F7FF6 382.68deg);
    --color-separator-primary: #151516;
    --color-separator-secondary: #76787a;
    --color-text-secondary: #8b8d94;
    --color-transparent--hover: rgba(255, 255, 255, 0.04);
    --color-transparent--active: rgba(255, 255, 255, 0.08);
    --background_content: var(--secondary-background-color);
    --field_border: #FFFFFF1E;
    --mail-text-background-color: #f2f2f2;
    --send-mail-background: #2d2d2e;
    --letterlist-selected-color: #2F2F30;
    --input-selected-color: #f2f2f2;
    --mail-state-unread: #7c7c7d;
    --resize-mobile: 1000px;
    --span-input-color: var(--input-selected-color);
}
