<div style="" contenteditable="true"
     class="text-area" tabindex="505"
     spellcheck="true" role="textbox" aria-multiline="true" aria-label="false">
    <div><br></div>
    <div><br></div>
    <div>--</div>
    <div>Отправлено с <a href="https://mailbx.ru" data-cke-saved-href="https://mailbx.ru">MailBX</a></div>
</div>
