/*@import "colors.css";*/

.letter-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 10px;

    position: relative;
    height: 126px;

    background: var(--letterlist-default-fill-color);
    border: 1px solid var(--letterlist-default-border-color);
    border-radius: 6px;

    overflow: hidden;
    align-self: stretch;
    flex: none;
}

.letter-frame:Hover {
    background: var(--letterlist-hover-fill-color);
    border: 1px solid var(--letterlist-hover-border-color);
    box-shadow: 0 0 20px var(--letterlist-hover-border-color);
}

.letter-frame:Active {
    background: var(--letterlist-active-fill-color);
    border: 1px solid var(--letterlist-active-border-color);
    box-shadow: 0 0 20px var(--letterlist-hover-border-color);
}


.letter-read-state-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    width: 8px;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.letter-content-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 10px;

    flex: available;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.letter-content-header-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    height: 50px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.letter-content-text-frame{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;

    width: 100%;
    height: 100%;

    flex: available;
    align-self: auto;
    flex-grow: 1;
}

.letter-content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;


    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    color: var(--letterlist-content-text-color);

    flex: available;
    align-self: stretch;
    flex-grow: 1;
}

.letter-content-header-name-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;

    color: var(--letterlist-name-text-color);

    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.letter-content-header-second-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;

    color: var(--letterlist-header-text-color);

    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.letter-content-header-text-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;

    flex: available;
    align-self: stretch;
    flex-grow: 1;
}

.letter-content-header-text-bottom-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;

    flex: available;
    align-self: stretch;
    flex-grow: 1;
}

.letter-content-header-image-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 5px;

    width: 50px;

    flex: available;
    align-self: stretch;
    flex-grow: 0;
}

.letter-content-image-letter {
    display: flex;

    flex: available;
    align-self: stretch;
    flex-grow: 0;
}