<div class="page">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="main-content-404" id="main-content-404">
        <h1 class="not-found-label">
            Страницы не существует
        </h1>
    </div>
</div>
