<div class="page">

    <div class="main-content" id="main-content">
        <h1 class="not-found-label">
            Страницы не существует
        </h1>
        <canvas id="arena"></canvas>
    </div>
</div>
