<div class="menu">
    <div id="common-menu-buttons" class="menu__button-compose">

        {{#each commonMenuButtons}}
            {{{this}}}
        {{/each}}

    </div>
    <div class="menu__delimiter"></div>
    <div id="advanced-menu-buttons" class="menu__button-compose">
        {{#each advancedMenuButtons}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="menu__delimiter"></div>
</div>
