.menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 5px;
    position: relative;
    min-width: 200px;
    width: 200px;
    height: fit-content;
    background: var(--menu-color);
    border-radius: 6px;
    order: 0;
    overflow: auto;
}

.menu__button-compose {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    position: relative;
    align-self: stretch;
    height: fit-content;
    background: var(--menu-color);
    border-radius: 6px;
    order: 0;
}

.menu__delimiter{
    width: 100%;
    height: 0;
    border: 1px solid var(--delimeters-color);
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.menu__button_active {
    background: var(--menu-buttons-active-fill-color);
    border: 1px solid var(--menu-buttons-active-border-color);
}
