<div class="menu menu_color menu_size">
    <div id="common-menu-buttons" class="menu__button-compose">
        {{{newMailButton}}}
    </div>
    <div class="menu__delimiter"></div>
    <div id="common-menu-buttons" class="menu__button-compose">

        {{#each commonMenuButtons}}
            {{{this}}}
        {{/each}}

    </div>
    <div class="menu__delimiter"></div>

    {{{newFolderButton}}}

    <div id="advanced-menu-buttons" class="menu__advanced-buttons menu__button-compose">

        {{#each advancedMenuButtons}}
            {{{this}}}
        {{/each}}

    </div>
<!--    <div id="advanced-menu-buttons" class="menu__button-compose">-->

<!--    </div>-->
<!--    <div class="menu__delimiter"></div>-->
</div>
