<div class="notification-area" id="error-label">
    <div class="notification-area__notification">
        <p class="notification-area__notificationText">{{this.notification}}</p>
        <span class="progress"></span>
    </div>
</div>
