.b-color {
    background: #BB86FC;
    box-shadow: 0 3px 8px rgb(136 144 194 / 25%), 0 7px 21px rgb(37 44 97 / 20%);
}

.b-color:hover {
    background: #7654FE;
    box-shadow: 0 3px 8px rgb(136 144 194 / 25%), 0 7px 21px rgb(37 44 97 / 20%);
}

.b-color:active {
    background: #5336C7;
    box-shadow: 0 3px 8px rgb(136 144 194 / 25%), 0 7px 21px rgb(37 44 97 / 20%);
    border-radius: 4px;
}

.b-color:disabled {
    background: #C4BEDF;
    box-shadow: 0 3px 8px rgb(136 144 194 / 25%), 0 7px 21px rgb(37 44 97 / 20%);
}
