.font-title-0{
    color: #E5E5E5;
}

.bottom-color{
    color: #000000;
}

.font-title-1{
    color: #000000;
}

.font-normal-0 {
    color: #E5E5E5;
}

.font-normal-1 {
    color: #000000;
}

.signup-link {
    color: #BB86FC !important;
}
