.send-mail {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .58);
  flex: 1;

  &__text_color {
    color: var(--menu-text-default-color);
  }

  &__area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    position: relative;
    order: 4;
    flex: 1;
    border-radius: 6px;

    &_size {
      width: 90%;
      height: 90%;

      min-width: 200px;
      min-height: 200px;

      max-width: 900px;
      max-height: 900px;
    }

    &_color {
      background-color: var(--secondary-background-color);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 5px;
    border-radius: 6px;
    flex: none;

    &_size {
      padding: 20px 20px 0 20px;
      //max-width: 100%;
    }

    &_details {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      flex: 1;
      justify-content: stretch;
      gap: 5px;
      padding-left: 10px;
      max-width: calc(100% - 80px);
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 5px;
    border-radius: 6px;
    flex: none;
    padding: 10px 20px;
    &__button {
      display: flex;
      width: 155px;
    }
  }

  &__recipients {
    //display: flex;
    //flex-direction: row;
    //flex: 1;
    //padding: 0;
    //max-width: 40%;
    ////overflow: auto;
    //
    //&::-webkit-scrollbar {
    //  height: 5px;
    //}

    //&::-webkit-scrollbar {
    //  display: none;
    //}
  }

  &__author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
  }

  &__to {
    width: 60px;
    padding-top: 5px;
    flex-basis: fit-content;
  }

  &__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: start;
    height: 80px;
    width: 80px;
    border-radius: 90%;
  }

  &__read-state {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 8px;
    border-radius: 6px;
  }

  &__content {
    flex: 1;
    margin: 0 20px 0;
    overflow: auto;
    padding: 10px 10px 0 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &_color {
      background-color: var(--mail-text-background-color);
    }
  }

  &__bottom-button {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    width: 0;
    max-width: 90px;
  }

  &__bottom-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &_size {
      padding: 10px 10px 10px 10px;
      gap: 20px;
      flex-shrink: 0;
      margin: 0 20px 20px;
      flex-basis: 40px;
    }

    &_color {
      background-color: var(--delimeters-color);
    }
  }

  &__input-form {
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;

    flex: 1;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;

    &_indent {
      padding: 0;
    }

    &_size {
      display: flex;
      flex: 1;
      gap: 5px;
      outline: none;
      max-width: 100%;
      padding-left: 5px;
      min-height: 27px;
      //width: 80%;
    }

    &_color {
      backdrop-filter: blur(30px);
      border-radius: 7px;
      //border: 1px solid;
      //color: var(--secondary-text-color);
      background: var(--input-default-fill-color);
    }
  }

  &__delimiter {
    width: 100%;
    height: 0;
    border: 1px solid var(--delimeters-color);
    flex: none;
    align-self: stretch;
    flex-grow: 0;
  }
}

@media only screen and (max-width: 991px) {
  .send-mail {

    &__area {
      border-radius: unset;

      &_size {
        width: 100%;
        height: 100%;

        min-width: unset;
        min-height: unset;

        max-width: unset;
        max-height: unset;
      }
    }
  }
}
.send-mail__textarea_color,
.send-mail__textarea_color:hover,
.send-mail__textarea_color:focus {
  background-color: var(--mail-text-background-color);
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #E5E5E5;
  -webkit-box-shadow: 0 0 20px rgb(255 255 255 / 25%);
  transition: background-color 5000s ease-in-out 0.5s;
}

.input-form__error__border {
  border: 1px solid var(--error-input);
}

.error-input {
  position: absolute;
  bottom: -6px;
  padding-left: 10px;
  color: var(--error-input);
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
}

.send-attachment-list {
  display: flex;
  overflow: auto;
  margin: 0 20px 0;

  &__area{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    overflow: auto;
    max-height: 240px;
  }
}

@media only screen and (max-width: 991px) {
  .send-mail {

    &__image {
      display: none;
      height: 0;
      width: 0;
    }

    &__header {
      &_details {
        max-width: calc(100% - 0px);
      }
    }


    &__bottom-actions {


      &_size {
      }
    }

    &__bottom-button {
    }
  }
}
