<div class="send-mail" id="send-mail">
    <div class="send-mail__area">
        <div class="send-mail__frame">
            <div class="send-mail__container">

            </div>
            <div class="send-mail__footer">
                <div class="send-mail__footer__buttons">

                </div>
            </div>
        </div>
    </div>
</div>
