<div class="button-classic button-classic_indent">
    <button class="button-classic_size-l button-classic_color" type="submit">
        <label class="button-classic__label" data-section="{{this.redirect}}">{{this.buttonText}}</label>
    </button>
</div>
