<div class="button-classic button-classic__indent">
    <button class="button-classic_size button-classic__color" type="submit">
        <label class="button-classic__label">{{this.buttonText}}</label>
    </button>
</div>
