<div class="remember">
<label>
    <input type="checkbox" name="remember" value="yes">
    <span class="font-normal-0">Запомнить</span>
</label>
<a class="font-normal-0 signup-link" href="/remind"> Забыли пароль?</a>
</div>