<div class="account-anonymous" id="account-anonymous">
    <div class="account-anonymous__textarea">
        <h1 class="account-anonymous__textarea__text account-anonymous__textarea__header">
            Это ваши анонимные ящики
        </h1>
        <p class="account-anonymous__textarea__text account-anonymous__textarea__paragraph">
            Письма, отправленные на этот адрес, будут доставлены в ваш основной ящик, но его адрес будет скрыт от отправителя.
        </p>
    </div>
    <div class="account-anonymous__area">
            <div class="account-anonymous__form__input" id="account-anonymous__form__input">
                {{#each this.anonymous}}
                    {{{this}}}
                {{/each}}
            </div>
            <div class="account-anonymous__button-area" id="account-anonymous__button-area">
                {{{this.button}}}
            </div>
    </div>
</div>
