<div class="account-anonymous" id="account-anonymous">
    <div class="account-anonymous__area">
            <div class="account-anonymous__form__input" id="account-anonymous__form__input">
                {{#each this.anonymous}}
                    {{{this}}}
                {{/each}}
            </div>
            <div class="account-anonymous__button-area" id="account-anonymous__button-area">
                {{{this.button}}}
            </div>
    </div>
</div>
