<div class="account-anonymous" id="account-anonymous">
    <div class="account-anonymous__area">
        <form class="account-anonymous__form" action="#" method="get" enctype="multipart/form-data" id="account-anonymous__form">
            <div class="account-anonymous__form__input" id="account-anonymous__form__input">
                {{{this.forms}}}
            </div>
            <div class="account-anonymous__button-area" id="account-anonymous__button-area">
                {{{this.button}}}
            </div>
        </form>
    </div>
</div>
