<div class="advanced-context-menu advanced-context-menu_size advanced-context-menu_color">
    <div class="advanced-context-menu__area">
        {{#each this.folderActionButtons}}
            {{{this}}}
        {{/each}}
    </div>
</div>

