<a class="menu-button" href="{{ href }}">
    <div class="menu-button-left-frame">
        {{{ img }}}
        <div class="menu-button-text font-caption-0">
            <p>{{ text }}</p>
        </div>
    </div>
    <div class="menu-button-right-frame">
        <div class="menu-button-count font-caption-0">
            <p>{{ count }}</p>
        </div>
    </div>
</a>
