<div class="data-list" id="data-list">
    <div class="data-list__area data-list__area__size data-list__area__color">
        {{#each this.menuActionButtons}}
            {{{this}}}
        {{/each}}
    </div>
</div>

