.data-list{

  position: absolute;
  z-index: 10000000;

  &__area {
    max-height: 250px;
    min-width: 200px;
    max-width: 250px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--custom-color-account-sidebar);
  }
  //width: 100%; - к профиль баттон
}
