.font-title-0 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 0.03em;
}

.font-title-1 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 49px;
    letter-spacing: 0.03em;
}

.font-title-2 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0.03em;
}

.font-normal-0 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.font-normal-1 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 33px;
    letter-spacing: 0.03em;
}

.font-normal-2 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 27px;
    letter-spacing: 0.03em;
}

.font-normal-3 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0.03em;
}

.font-caption-0 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
}

.signup-link {
    text-decoration: none;
}
