
/********************* Colour reference chart****************
*************************** comment ********* colour ********

main background colour       bbg              #567890
box border colour           bb               #abcdef
box text colour             bt               #123456

*/

:root {
    --primary-background-color: #1C1C1C;
    --secondary-background-color: #262626;
    --primary-elements-color: #3E3E3E;
    --primary-delimeters-color: #3E3E3E;
    --primary-active-color: #5060EC;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #E5E5E5;

}

/*:root {*/
/*    --primary-background-color: #f1f3f7;*/
/*    --secondary-background-color: #fdfdfe;*/
/*    --primary-elements-color: #000000;*/
/*    --primary-delimeters-color: #1062fa;*/
/*    --primary-active-color: #e7f0ff;*/
/*    --primary-text-color: #000000;*/
/*    --secondary-text-color: #1062fa;*/
/*}*/