@import "colors.css";


.icon-button {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;

    background: var(--secondary-background-color);
    border-radius: 6px;
    border: 1px solid var(--secondary-background-color);

    flex: none;
}

.icon-button:Hover{
    border: 1px solid var(--primary-active-color);
}

.icon-button:Active{
    background: var(--primary-active-color);
    border: 1px solid var(--primary-active-color);
}

.icon-button-icon{
    display: flex;
    stroke: var(--primary-elements-color);
    flex: available;
}

.icon-button:hover .icon-button-icon {
    stroke: var(--primary-elements-color);
}

.icon-button:active .icon-button-icon {
    stroke: var(--active-elements-color);
}


