{{#each field}}
    <a href="{{this.href}}" class="account-sidebar__item account-sidebar__item__hover-active">
        <div class="account-sidebar__icon">
            <svg class="account-sidebar__svg" xmlns="http://www.w3.org/2000/svg" fill="none" height=50% width=50% viewBox="0 0 24 24">
                {{{this.img}}}
            </svg>
        </div>
        <div class="account-sidebar__text">
            {{this.text}}
        </div>
    </a>
{{/each}}