<div class="attachment-list" id="attachment-list">
    <div class="attachment-list__area">
        {{{this.attachments}}}
    </div>
    <div class="attachment-list__controls">
        <div class="attachment-list__controls__info">
            Количество файлов: {{this.filecount}}
        </div>
        <div class="attachment-list__controls__action">
            <a href="" class="attachment-list__controls__action__download">
                Скачать
            </a>
            <span class="attachment-list__controls__action__span">
                ({{this.commonFileSize}})
            </span>
        </div>
    </div>
</div>
