.font-title-2 {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}

.font-normal-0 {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}

.font-caption-0 {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
}

