@import './styles/fonts.css';

@import './src/pages/signup/signup.css';
@import './src/pages/login/login.css';
@import './src/pages/mailBox/mailBox.css';

@import './src/components/account-sidebar/account-sidebar.css';
@import './src/components/navbar/navbar.css';
@import './src/components/menu/menu.css';
@import './src/components/letterList/letterList.css';
@import './src/components/promo-box/promo-box.css';
@import './src/components/wrapper-access/wrapper-access.css';
@import './src/components/mail/mail.css';

@import './src/uikit/notification/notification.css';
@import './src/uikit/button/button.css';
@import './src/uikit/checkbox/checkbox.css';
@import './src/uikit/form/form.css';
@import './src/uikit/letter-frame/letter-frame.css';
@import './src/uikit/menu-button/menu-button.css';
@import './src/uikit/icon-button/icon-button.css';
@import './src/uikit/profile-button/profile-button.css';
@import './src/uikit/list-item/list-item.css';
@import './src/uikit/sidebar-linkButton/sidebar-linkButton.css';


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.root {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    flex: 1;
    height: 100%;
}

