body{
    font-family: Helvetica, Arial, sans-serif;
}

#root{
    display: grid;

    grid-template-areas:
        "header header"
        "menu content";

    grid-template-rows: 100px 1fr;
    grid-template-columns: min-content 1fr;
}

aside{
    grid-area: menu;
    font-size: 40px;
    padding-left: 20px;
}

main{
    grid-area: content;
    padding: 0 40px 40px;
}

a {
    display: block;
    color: #333333;
    text-decoration: none;
}
