*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box;
}


body, html {
    height: 100%;
}

.container {
    display: flex;
    padding: 0;
}

.span-wrapper{
    position: absolute;
    padding: 15px;
    pointer-events: none;
    font-size: 1em;
}

.icon {
    display: flex;
}

.favicon {
    width: 34px;
}


.full-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    text-align: center;
    padding: 20px;
}



.wrapper-input-bottom {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 20px;
    gap: 20px;
}

.bottom-text{
    position: absolute;
    bottom: 0;

    align-self: center;
    padding: 20px;
}
