<div class="account-page" id="account-page">
    <div class="account-navbar" id="account-navbar">

    </div>
    <div class="account-content-area">
        <div class="account-content__navigation" id="account-content__navigation">

        </div>
        <div class="account-content__content" id="account-content__content">

        </div>
    </div>
</div>
