<div class="profile-button profile-button_color profile-button_size">
    <div class="profile-button__left-frame">
        {{#if img includeZero=true}}
            <img class="profile-button__img profile-button__img_size" src={{img}} alt="">
        {{else}}
            <img class="profile-button__img profile-button__img_size" src='img/female-avatar.png' alt="">
        {{/if}}
            <p class="font-caption-0 profile-button__text_color">{{ text }}</p>
    </div>
    <div class="profile-button__right-frame">

    </div>
</div>
