<div class="filter" id="filter">
    <div class="filter__area filter__area__size filter__area__color">
        <a href="/newLetters" class="filter__item filter__item__hover-active" data-section="newLetters">
            <div class="filter__text">
                Сначала новые
            </div>
        </a>
        <a href="/oldLetters" class="filter__item filter__item__hover-active" data-section="oldLetters">
            <div class="filter__text">
                Сначала старые
            </div>
        </a>
    </div>
</div>
