<div class="account-security" id="account-security">
    <div class="account-security__area">
        <form class="account-security__form" action="#" method="get" enctype="multipart/form-data" id="account-security__form">
            <div class="account-profile__form__input" id="account-security__form__input">
                {{{this.forms}}}
            </div>
            <div class="account-security__button-area" id="account-security__button-area">
                {{{this.button}}}
            </div>
        </form>
    </div>
</div>
