.font-title-0 {
    color: #000000;
}

.bottom-color {
    color: #E5E5E5;
}

.font-title-2 {
    color: #E5E5E5;
}

.font-normal-3 {
    color: #000000;
}

.font-normal-0 {
    color: #E5E5E5;
}

.signup-link {
    color: #BB86FC !important;
}

