.mailbox-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  overflow-x: auto;
  padding: 10px;
  order: 1;
}

.mailbox-area__vertical-line {
  width: 0;
  border: 1px solid var(--delimeters-color);
  flex: 0;
  align-self: stretch;
}
