.font-title-0 {
    color: #000000;
}

.bottom-color {
    color: var(--text-main-color);
}

.font-title-2 {
    color: var(--text-main-color);
}

.font-normal-3 {
    color: #000000;
}

.font-normal-0 {
    color: var(--text-main-color);
}

.signup-link {
    color: var(--link-text-color) !important;
}

