<div class="context-menu__area context-menu__area_size context-menu__area_color">
    {{#each this.mailActionButtons}}
        {{{this}}}
    {{/each}}
    <div class="context-menu__delimiter"></div>
    {{#each this.folderActionButtons}}
        {{{this}}}
    {{/each}}
</div>
