<div class="user-info user-info_color user-info_size" id="user-info">
    <div class="user-info__left-frame">
        <img class="user-info__img user-info__img_size skeleton__block" src='{{avatar}}' alt="">
        <p class="font-caption-0 user-info__text_color">{{ email }}</p>
    </div>
</div>
