{{#each field}}
    <li class="list-item">
        <div class="list-item__icon">
            <svg class="list-item__svg" xmlns="http://www.w3.org/2000/svg" fill="none" height=50% width=50% viewBox="0 0 24 24">
                {{{this.img}}}
            </svg>
        </div>
            <span class="list-item__text">
                {{this.text}}
            </span>
    </li>
{{/each}}
