<div class="promo-box promo-box_size promo-box_indent">
    <div class="promo-box__box">
        <h1 class="font-title-2 login-title">{{this.title}}</h1>
        <ul class="promo-box__list">
            <li class="promo-box__listItem">
            <span class="promo-box__listItemText">
                Крутая фича 1
            </span>
            </li>
            <li class="promo-box__listItem">
            <span class="promo-box__listItemText">
                Крутая фича 2
            </span>
            </li>
            <li class="promo-box__listItem">
            <span class="promo-box__listItemText">
                Крутая фича 3
            </span>
            </li>
        </ul>
    </div>
</div>
