.content-mail {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    overflow: auto;
    min-width: 600px;
    order: 4;
}

.no-chosen-mail {
    display: flex;
    fill: var(--menu-icons-default-color);
}