.content-mail {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    position: relative;
    fill: var(--menu-icons-default-color);
    height: 91vh;
    flex: auto;
    flex-grow: 1;
    overflow: auto;
    overflow-x: hidden;
    order: 4;
}