<div class="data-list-from" id="data-list-from">
    <div class="data-list-from__area data-list-from__area__size data-list-from__area__color">
        {{#each this.menuActionButtons}}
            {{{this}}}
        {{/each}}
    </div>
</div>

