.wrapper-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 20px;

    position: relative;
}

.wrapper-input-input {
    box-sizing: border-box;

    outline: none;
    padding-left: 15px;

    min-height: 50px;
    min-width: 440px;
    font-size: 1em;
    backdrop-filter: blur(30px);

    border-radius: 7px;
}

.wrapper-input-span {
    text-transform: uppercase;
    transition: 0.5s;
}

.wrapper-input-input:focus,
.wrapper-input-input:hover {
    box-sizing: border-box;

    min-height: 50px;
    min-width: 440px;

    left: 0;
    right: 0;
    top: 34.45%;
    bottom: 0;

    border-radius: 7px;
}

.wrapper-input-short {
    min-width: 220px;
    width: 220px;
}

.wrapper-input-short input {
    min-width: 220px;
    width: 220px;
}

.wrapper-input-short input:focus {
    min-width: 220px;
    width: 220px;
}

.wrapper-input-short input:hover {
    min-width: 220px;
    width: 220px;
}
