<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/content.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/iconButton.css">
    <link rel="stylesheet" href="../static/css/letter.css">
</head>
<body>
<div class="main">


    <div class="navbar">
        <div class="navbar-frame-left">
            <a href="">
                <div class="navbar-emblem-button">
                    <img src="../static/img/emblem.svg" alt="">
                    <label class="navbar-text">MailBox</label>
                </div>
            </a>
            <a href="">

            </a>
        </div>
        <div class="navbar-frame-right">
            <a class="icon-button">
                <svg class="icon-button-icon" fill="none" height=100% viewBox="0 0 20 20" width=100%
                     xmlns="http://www.w3.org/2000/svg">
                    <g stroke-width="1">
                        <path d="m17.4142 2.58579c-.781-.78105-2.0474-.78105-2.8284 0l-7.5858
                    7.58581v2.8284h2.82842l7.58578-7.58579c.7811-.78105.7811-2.04738 0-2.82842z"/>
                        <path clip-rule="evenodd" d="m2 6c0-1.10457.89543-2 2-2h4c.55228 0 1 .44772 1
                    1s-.44772 1-1 1h-4v10h10v-4c0-.5523.4477-1 1-1s1 .4477 1 1v4c0 1.1046-.8954
                    2-2 2h-10c-1.10457 0-2-.8954-2-2z" fill-rule="evenodd"/>
                    </g>
                </svg>

            </a>
            <a class="icon-button">
                <svg class="icon-button-icon" fill="none" height=100% viewBox="0 0 24 24" width=100% xmlns="http://www.w3.org/2000/svg">
                    <path d="m13 16h-1v-4h-1m1-4h.01m8.99 4c0 4.9706-4.0294 9-9 9-4.97056 0-9-4.0294-9-9 0-4.97056
                    4.02944-9 9-9 4.9706 0 9 4.02944 9 9z" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="2"/>
                </svg>
            </a>
            <a class="icon-button">
                <svg class="icon-button-icon" fill="none" height=100% viewBox="0 0 24 24" width=100% xmlns="http://www.w3.org/2000/svg">
                    <g stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="m10.3246 4.31731c.4264-1.75641 2.9244-1.75641 3.3508 0 .2754 1.13462 1.5753
                        1.67307 2.5724 1.06554 1.5435-.94046 3.3098.82585 2.3694 2.36933-.6076.99707-.0691
                        2.29702 1.0655 2.57242 1.7564.4264 1.7564 2.9244 0 3.3508-1.1346.2754-1.6731
                        1.5753-1.0655 2.5724.9404 1.5435-.8259 3.3098-2.3694 2.3694-.9971-.6076-2.297-.0691-2.5724
                        1.0655-.4264 1.7564-2.9244 1.7564-3.3508
                        0-.2754-1.1346-1.57534-1.6731-2.57241-1.0655-1.54349.9404-3.3098-.8259-2.36934-2.3694.60753-.9971.06908-2.297-1.06554-2.5724-1.75641-.4264-1.75641-2.9244
                        0-3.3508 1.13462-.2754 1.67306-1.57534 1.06554-2.57242-.94046-1.54348.82585-3.30979 2.36934-2.36933.99707.60752 2.29701.06908
                        2.57241-1.06554z"/>
                        <path d="m15 12c0 1.6569-1.3431 3-3 3s-3-1.3431-3-3 1.3431-3 3-3 3 1.3431 3 3z"/>
                    </g>
                </svg>
            </a>
            <a class="icon-button">
                <svg class="icon-button-icon" fill="none" height=100% viewBox="0 0 24 24" width=100% xmlns="http://www.w3.org/2000/svg">
                    <path d="m17 16 4-4m0 0-4-4m4 4h-14m6 4v1c0 1.6569-1.3431 3-3 3h-4c-1.65685
                    0-3-1.3431-3-3v-10c0-1.65685 1.34315-3 3-3h4c1.6569 0 3 1.34315 3 3v1"
                          stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </svg>
            </a>
            <a class="navbar-img-button">
                <img src="../static/img/female-avatar.svg" alt="">
            </a>
        </div>
    </div>
    <div class="content">
        <div class="Menu">

            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/mail.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Входящие</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>
            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/sent.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Отправленные</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>
            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/draft.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Черновики</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>
            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/attachments.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Вложения</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>

            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/spam.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Спам</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>
            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/trash.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Корзина</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>
            <div class="MenuDelimeter"></div>

            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/folder.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Соц. сети</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>

            <a class="menu-button">
                <div class="menu-button-left-frame">
                    <div class="menu-button-icon">
                        <img src="../static/img/folder.svg" class="menu-icon" alt="">
                    </div>
                    <div class="menu-button-text">
                        <label>Игры</label>
                    </div>
                </div>
                <div class="menu-button-right-frame">
                    <div class="menu-button-count">
                        <p>999</p>
                    </div>
                </div>
            </a>

            <div class="MenuDelimeter"></div>
        </div>
        <div class="horizontal-line"></div>
        <div class="LetterList styled-scrollbars">


            <div class="letter-frame">
                <div class="letter-read-state-frame"></div>
                <div class="letter-content-frame">
                    <div class="letter-content-header-frame">
                        <div class="letter-content-header-image-frame">

                            <img src="../static/img/female-avatar.svg" class="letter-content-image-letter" alt="">
                        </div>
                        <div class="letter-content-header-text-frame">
                            <label class="letter-content-header-text">
                                Ivan Ivanovich
                            </label>

                            <div class="letter-content-header-text-bottom-frame">
                                <label class="letter-content-header-text">
                                    Students in bma
                                </label>
                                <label class="letter-content-header-text" style="text-align: right">
                                    16:11 pm, Jul 12, 2021
                                </label>
                            </div>

                        </div>
                    </div>


                    <div class="letter-content-text-frame">
                        <label class="letter-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing amet,
                            consectetur adipisicing elit. Alias, assumenda corporis doloribus ea
                            illum iure optio pariatur, provident ratione repellendus reprehenderit vero.
                            Amet culpa dolorem dolorum harum, praesentium quaerat rem.
                        </label>
                    </div>
                </div>
            </div>
            <div class="content-vertical-line"></div>
            <div class="letter-frame">
                <div class="letter-read-state-frame"></div>
                <div class="letter-content-frame">
                    <div class="letter-content-header-frame">
                        <div class="letter-content-header-image-frame">

                            <img src="../static/img/female-avatar.svg" class="letter-content-image-letter" alt="">
                        </div>
                        <div class="letter-content-header-text-frame">
                            <label class="letter-content-header-text">
                                Ivan Ivanovich
                            </label>

                            <div class="letter-content-header-text-bottom-frame">
                                <label class="letter-content-header-text">
                                    Students in bma
                                </label>
                                <label class="letter-content-header-text" style="text-align: right">
                                    16:11 pm, Jul 12, 2021
                                </label>
                            </div>

                        </div>
                    </div>


                    <div class="letter-content-text-frame">
                        <label class="letter-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing amet,
                            consectetur adipisicing elit. Alias, assumenda corporis doloribus ea
                            illum iure optio pariatur, provident ratione repellendus reprehenderit vero.
                            Amet culpa dolorem dolorum harum, praesentium quaerat rem.
                        </label>
                    </div>
                </div>
            </div>
            <div class="content-vertical-line"></div>
            <div class="letter-frame">
                <div class="letter-read-state-frame"></div>
                <div class="letter-content-frame">
                    <div class="letter-content-header-frame">
                        <div class="letter-content-header-image-frame">

                            <img src="../static/img/female-avatar.svg" class="letter-content-image-letter" alt="">
                        </div>
                        <div class="letter-content-header-text-frame">
                            <label class="letter-content-header-text">
                                Ivan Ivanovich
                            </label>

                            <div class="letter-content-header-text-bottom-frame">
                                <label class="letter-content-header-text">
                                    Students in bma
                                </label>
                                <label class="letter-content-header-text" style="text-align: right">
                                    16:11 pm, Jul 12, 2021
                                </label>
                            </div>

                        </div>
                    </div>


                    <div class="letter-content-text-frame">
                        <label class="letter-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing amet,
                            consectetur adipisicing elit. Alias, assumenda corporis doloribus ea
                            illum iure optio pariatur, provident ratione repellendus reprehenderit vero.
                            Amet culpa dolorem dolorum harum, praesentium quaerat rem.
                        </label>
                    </div>
                </div>
            </div>
            <div class="content-vertical-line"></div>
            <div class="letter-frame">
                <div class="letter-read-state-frame"></div>
                <div class="letter-content-frame">
                    <div class="letter-content-header-frame">
                        <div class="letter-content-header-image-frame">

                            <img src="../static/img/female-avatar.svg" class="letter-content-image-letter" alt="">
                        </div>
                        <div class="letter-content-header-text-frame">
                            <label class="letter-content-header-text">
                                Ivan Ivanovich
                            </label>

                            <div class="letter-content-header-text-bottom-frame">
                                <label class="letter-content-header-text">
                                    Students in bma
                                </label>
                                <label class="letter-content-header-text" style="text-align: right">
                                    16:11 pm, Jul 12, 2021
                                </label>
                            </div>

                        </div>
                    </div>


                    <div class="letter-content-text-frame">
                        <label class="letter-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing amet,
                            consectetur adipisicing elit. Alias, assumenda corporis doloribus ea
                            illum iure optio pariatur, provident ratione repellendus reprehenderit vero.
                            Amet culpa dolorem dolorum harum, praesentium quaerat rem.
                        </label>
                    </div>
                </div>
            </div>
            <div class="content-vertical-line"></div>
            <div class="letter-frame">
                <div class="letter-read-state-frame"></div>
                <div class="letter-content-frame">
                    <div class="letter-content-header-frame">
                        <div class="letter-content-header-image-frame">

                            <img src="../static/img/female-avatar.svg" class="letter-content-image-letter" alt="">
                        </div>
                        <div class="letter-content-header-text-frame">
                            <label class="letter-content-header-text">
                                Ivan Ivanovich
                            </label>

                            <div class="letter-content-header-text-bottom-frame">
                                <label class="letter-content-header-text">
                                    Students in bma
                                </label>
                                <label class="letter-content-header-text" style="text-align: right">
                                    16:11 pm, Jul 12, 2021
                                </label>
                            </div>

                        </div>
                    </div>


                    <div class="letter-content-text-frame">
                        <label class="letter-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing amet,
                            consectetur adipisicing elit. Alias, assumenda corporis doloribus ea
                            illum iure optio pariatur, provident ratione repellendus reprehenderit vero.
                            Amet culpa dolorem dolorum harum, praesentium quaerat rem.
                        </label>
                    </div>
                </div>
            </div>
            <div class="content-vertical-line"></div>
            <div class="letter-frame">
                <div class="letter-read-state-frame"></div>
                <div class="letter-content-frame">
                    <div class="letter-content-header-frame">
                        <div class="letter-content-header-image-frame">

                            <img src="../static/img/female-avatar.svg" class="letter-content-image-letter" alt="">
                        </div>
                        <div class="letter-content-header-text-frame">
                            <label class="letter-content-header-text">
                                Ivan Ivanovich
                            </label>

                            <div class="letter-content-header-text-bottom-frame">
                                <label class="letter-content-header-text">
                                    Students in bma
                                </label>
                                <label class="letter-content-header-text" style="text-align: right">
                                    16:11 pm, Jul 12, 2021
                                </label>
                            </div>

                        </div>
                    </div>


                    <div class="letter-content-text-frame">
                        <label class="letter-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing amet,
                            consectetur adipisicing elit. Alias, assumenda corporis doloribus ea
                            illum iure optio pariatur, provident ratione repellendus reprehenderit vero.
                            Amet culpa dolorem dolorum harum, praesentium quaerat rem.
                        </label>
                    </div>
                </div>
            </div>
            <div class="content-vertical-line"></div>
            <div class="letter-frame">
                <div class="letter-read-state-frame"></div>
                <div class="letter-content-frame">
                    <div class="letter-content-header-frame">
                        <div class="letter-content-header-image-frame">

                            <img src="../static/img/female-avatar.svg" class="letter-content-image-letter" alt="">
                        </div>
                        <div class="letter-content-header-text-frame">
                            <label class="letter-content-header-text">
                                Ivan Ivanovich
                            </label>

                            <div class="letter-content-header-text-bottom-frame">
                                <label class="letter-content-header-text">
                                    Students in bma
                                </label>
                                <label class="letter-content-header-text" style="text-align: right">
                                    16:11 pm, Jul 12, 2021
                                </label>
                            </div>

                        </div>
                    </div>


                    <div class="letter-content-text-frame">
                        <label class="letter-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing amet,
                            consectetur adipisicing elit. Alias, assumenda corporis doloribus ea
                            illum iure optio pariatur, provident ratione repellendus reprehenderit vero.
                            Amet culpa dolorem dolorum harum, praesentium quaerat rem.
                        </label>
                    </div>
                </div>
            </div>


        </div>
        <div class="content-mail">
            <img src="../static/img/cake.svg" alt="">
        </div>
    </div>


</div>


</body>
</html>