<div class="input-form-locked input-form-locked__indent">
    <input readonly="readonly" class="input-form-locked__size input-form-locked__color" type="text" name="{{this.value}}"
           maxlength="30" id="{{this.value}}"  value="{{this.value}}" required/>
</div>
