<a class="profile-button profile-button_color profile-button_size" href="/sidebar">
    <div class="profile-button__left-frame">
            <img class="profile-button__img profile-button__img_size skeleton__block" src='{{avatar}}' alt="">
            <p class="font-caption-0 profile-button__text_color">{{ email }}</p>
    </div>
</a>
