<link rel="stylesheet" href="./src/pages/login/login.css" type="text/css">

<div class="page">
    <div class="main-side">
        <div class="login">
            <div class="icon">
                <img src="../../../img/mail.svg" class="favicon" alt="">
                <p class="font-title-2">
                    MailBox
                </p>
            </div>
            <p class="font-title-2 login-title">Авторизация</p>
            <div class="login-form">
                <form action="#" method="get" enctype="multipart/form-data" id="login-form">
                    <div class="remember">
                        <label>
                            <input type="checkbox" name="remember" value="yes">
                            <span class="font-normal-0">Запомнить</span>
                        </label>
                        <a class="font-normal-0 signup-link" href="#"> Забыли пароль?</a>
                    </div>
                    <div class="wrapper-input-button">
                        <button class="button-long b-color" type="submit">
                            <label class="font-normal-0">Войти</label>
                        </button>
                    </div>
                </form>
            </div>
            <div class="wrapper-input-bottom">
                <p class="font-normal-0">Мы еще не знакомы?</p>
                <a class="font-normal-0 signup-link" href="/signup">Регистрация</a>
            </div>
        </div>
    </div>
</div>
