.page {
    display: flex;
    padding: 0;
}

.main-side,
.secondary-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex: none;
    order: 1;
    flex-grow: 1;
    background: #1C1C1C;
}
