.page {
    display: flex;
    padding: 0;
}

.main-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    flex: none;
    order: 1;
    flex-grow: 1;

    background: #1C1C1C;
}

.icon {
    display: flex;
}

.favicon {
    width: 34px;
}

.login-title {
    text-align: center;
    padding: 20px;
}

.wrapper-input-bottom {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 20px;
    gap: 20px;
}

.font-title-2 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0.03em;

    color: var(--text-main-color);
}

.font-normal-0 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.03em;

    color: var(--text-main-color);
}

.font-caption-0 {
    font-family: "Roboto Thin", sans-serif;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
}

.signup-link {
    text-decoration: none;
    color: var(--link-text-color);
}

.wrapper-input-input {
    background: var(--input-default-fill-color);
}

.wrapper-input-span {
    color: var(--helpers-text-color) !important;
    border-radius: 7px;
}

.wrapper-input-input:focus ~ span{
    transform: translateX(10px) translateY(-7px);
    font-size: 0.90em;
    padding: 0 10px;
    background: #2E2E2E;
    border-radius: 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #E5E5E5;
    -webkit-box-shadow: 0 0 0 1000px #262626 inset;
    transition: background-color 5000s ease-in-out 0.5s;
}

.wrapper-input-input:focus {
    background: #262626;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(30px);
}

.wrapper-input-input:hover {
    background: #262626;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(30px);
}



.span-wrapper {
    position: absolute;
    padding: 15px;
    pointer-events: none;
    font-size: 1em;
}

.remember {
    display: flex;
    text-align: left;
    padding: 20px;

    flex-direction: row;
    justify-content: space-between;
}

.error-input {
    position: absolute;
    bottom: 0;
    padding-left: 15px;

    color: var(--error-input);
}


