<a class="icon-button icon-button_size icon-button_color" href="{{ href }}" data-section="{{ href }}">
    <svg class="icon-button__icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    {{{ img }}}
    </svg>
</a>
