.acceptor {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .58);
  flex: 1;


  &__text_color {
    color: var(--menu-text-default-color);
  }

  &__area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    order: 4;
    border-radius: 6px;
    gap: 10px;

    &_size {
    }

    &_color {
      background-color: var(--secondary-background-color);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    gap: 5px;
    border-radius: 6px;
    flex: none;

    &_size {
      //padding: 20px 20px 0 20px;
      //height: 100px;
    }
  }

  &__bottom-button {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    max-width: 90px
  }

  &__bottom-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &_size {
      //padding: 10px 10px 10px 10px;
      gap: 20px;
      flex-shrink: 0;
      //margin: 0 20px 20px;
      //flex-basis: 40px;
    }

    &_color {
      background-color: var(--secondary-background-color);
    }
  }
}

.new-folder__textarea_color,
.new-folder__textarea_color:hover,
.new-folder__textarea_color:focus {
  background-color: var(--mail-text-background-color);
  border: none;
  outline: none;
}

@media only screen and (max-width: 991px) {
  .acceptor {
    padding: 10px;
  }
}
