<div class="acceptor">
    <div class="acceptor__area acceptor__area_size acceptor__area_color">
        <div class="acceptor__header acceptor__header_size">
            <p class="font-normal-0 new-folder__text_color">{{this.text}}</p>
        </div>

        <div class="acceptor__bottom-actions acceptor__bottom-actions_size acceptor__bottom-actions_color">
            {{#each this.actionButtons}}
                <div class="acceptor__bottom-button">
                    {{{this}}}
                </div>
            {{/each}}
        </div>
    </div>
</div>