<section class="account-navigation">
    <nav class="account-navigation__nav">
        {{{this.buttons}}}
        <hr class="account-navigation__hr" id="account-navigation__hr">
    </nav>
</section>
