<div class="account-navigation">

        <div class="account-navigation__nav">
            {{{this.buttons}}}
            <hr class="account-navigation__hr" id="account-navigation__hr">
        </div>

</div>
