.account-profile {
    padding: 8px;
    background: var(--background_content);
    border-radius: 12px;
    position: relative;
    border: 1px solid var(--field_border);
    order: 1;
    max-width: 100vh;

    overflow: hidden;

    &__form {
          padding: 12px 16px;
        &__input {
        }
    }

    &__button-area {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 991px) {
    .account-profile {
        background: unset;
        border: unset;
    }
}


