.main-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  height: 100vh;
  flex: 1;
  overflow: hidden;
}

.main-page__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  overflow-x: auto;
  padding: 10px;
}

.main-page__vertical-line {
  width: 0;
  border: 1px solid var(--delimeters-color);
  flex: 0;
  align-self: stretch;
}

.footer-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 15px;
  padding-bottom: 10px;
  display: none;

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: none;
    align-self: center;

    &__color {
      stroke: var(--menu-icons-default-color);
    }

    &__size {
      width: 22px;
      height: 18px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .mailbox-area {
    padding: unset !important;

    &__vertical-line {
      display: none;
    }
  }

  .footer-button {
    display: none;

    &__show {
      display: unset;
    }
  }

  .main-page {
    background-color: var(--secondary-background-color);
  }
}
