<link rel="stylesheet" href="./src/components/wrapper-access/wrapper-access.css" type="text/css">

<div class="page">
    <div class="main-side">
        <div class="wrapper-access">
            <div class="icon">
                <img src="../../../img/mail.svg" class="favicon" alt="">
                <p class="font-title-2">
                    MailBox
                </p>
            </div>
            <p class="font-title-2 login-title">{{this.title}}</p>
            <div class="wrapper-access-form">
                <form action="#" method="get" enctype="multipart/form-data" id="login-form">
                    <div class="wrapper-input-button">

                    </div>
                </form>
            </div>
            <div class="wrapper-input-bottom">
                <p class="font-normal-0">{{this.bottomText}}</p>
                <a class="font-normal-0 signup-link" href="{{this.bottomLink}}">{{this.bottomLinkText}}</a>
            </div>
        </div>
    </div>
</div>