<div class="menu">
    <div id="common-menu-buttons" class="menu-buttons-compose">

    </div>
    <div class="menuDelimeter"></div>
    <div id="advanced-menu-buttons" class="menu-buttons-compose">

    </div>
    <div class="menuDelimeter"></div>
</div>